body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0113d8;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.guest-lectures {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.guest-lectures h2 {
    margin-top: 0;
}

.guest-lectures table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.guest-lectures th, .guest-lectures td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.guest-lectures th {
    background-color: #4CAF50;
    color: white;
}

.guest-lectures tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
